sphinx==9.1.*
sphinx-autobuild==2025.8.25
sphinx-autodoc-typehints==3.12.*
sphinxcontrib-bibtex==2.7.0
furo==2025.12.19
pygments-styles==0.3.*
pyyaml==6.0.*
numpy==2.5.*
h5py==3.16.*
imageio-ffmpeg==0.6.*
pillow==12.3.*
rich==15.0.*